<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
    <div class="blog-container">
        <img src="<%= task.image %>" alt="<%= task.title %>" class="blog-image" width="600" height="400">
        <h1 class="blog-title">
            <%= task.Title %>
        </h1>
        <p class="blog-category">
            Category: <%= task.category %>
        </p>
        <p class="blog-description">
            <%= task.Description %>
        </p>
        <a href="/" class="back-btn">Back to Home</a>
    </div>
</body>

</html>